<p style="color: green"><%= notice %></p>

<%= render @participation %>

<div>
  <%= link_to "Modifier la participation", edit_participation_path(@participation) %> |
  <%= link_to "Retourner vers les participations", participations_path %>

  <%= button_to "Détruire la participation", @participation, method: :delete %>
</div>
