<%= simple_form_for structure do |f| %>

  <%= f.input :name, label: "Nom", placeholder: "Nom" ,input_html: { class: 'shadow-none rounded-none pl-0 h-6 w-64 bg-transparent focus:outline-none border-b-orange-500 border-t-transparent border-r-transparent border-l-transparent bg-transparent' }%>
  <%= f.input :adress, label: "Adresse", placeholder: "Adresse" ,input_html: { class: 'shadow-none	rounded-none pl-0 h-6 w-64 bg-transparent focus:outline-none border-b-orange-500 border-t-transparent border-r-transparent border-l-transparent bg-transparent' } %>
  <%= f.input :zipCode, label: "Code postal", placeholder: "Code postal" ,input_html: { class: 'shadow-none	rounded-none pl-0 h-6 w-64 bg-transparent focus:outline-none border-b-orange-500 border-t-transparent border-r-transparent border-l-transparent bg-transparent' } %>
  <%= f.input :city, label: "Ville", placeholder: "Ville" ,input_html: { class: 'shadow-none 	rounded-none pl-0 h-6 w-64 bg-transparent focus:outline-none border-b-orange-500 border-t-transparent border-r-transparent border-l-transparent' } %>
  <%= f.association :partner, label: "Partenaire", input_html: { class: 'shadow-none  	rounded-none pl-0 h-6 w-64 focus:outline-none border-b-orange-500 border-t-transparent border-r-transparent border-l-transparent bg-transparent' } %>
  <div class="color-blue flex p-4 rounded-lg justify-between items-center text-base text-white h-14 w-64">
    <%= f.button :submit, 'Ajouter la structure', button_html: { class:'text-white'} %>
  </div>

<% end %>
