<div id="<%= dom_id structure %>">
  <p>
    <strong>Adress:</strong>
    <%= structure.adress %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= structure.zipCode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= structure.city %>
  </p>

  <p>
    <strong>Partner:</strong>
    <%= structure.partner_id %>
  </p>

</div>
