<div id="<%= dom_id structure %>">
  <p>
    <strong></strong>
    <%= structure.adress %>
  </p>

  <p>
    <strong></strong>
    <%= structure.zipCode %>
  </p>

  <p>
    <strong></strong>
    <%= structure.city %>
  </p>

  <p>
    <strong></strong>
    <%= structure.partner_id %>
  </p>

</div>
