<p style="color: green"><%= notice %></p>

<%= render @structure %>

<div>
  <%= link_to "Edit this structure", edit_structure_path(@structure) %> |
  <%= link_to "Back to structures", structures_path %>

  <%= button_to "Destroy this structure", @structure, method: :delete %>
</div>
