<div class="flex flex-col w-72  ml-auto mr-auto gap-5 mt-16 z-10 relative  ">


<p style="color: green"><%= notice %></p>

<%= render @device %>

<div>
  <%= link_to "Modifier l'appareil", edit_device_path(@device), class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white  mb-2" %>
  <%= link_to "Retour vers ajouter un atelier",new_activity_path, class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white mb-2" %>

  <%= button_to "Supprimer l'appareil", @device, method: :delete, class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white mb-2" %>
</div>

</div>
