<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-roboto font-bold">
  Bonjour !
</h1>

<% if current_user.pending? %>
  <p>Votre compte est en cours de validation. Un administrateur vous assignera un partenaire.</p>
  <%= link_to "Retourner à la page de connexion", destroy_user_session_path, method: :delete , class:"mb-2 actions color-blue flex p-4 rounded-lg items-center text-base text-white justify-center"%>
<% else %>
  <p>Voici votre dashboard. Consultez vos partenaires, les structures, les ateliers et les séniors. </p>
  <section class="flex flex-col-reverse mt-6 gap-4">
        <div class="flex justify-between  w-full">
          <%= link_to "/activities/" do %>
            <div class="border-cyan-900 border-solid border-2  bg-white square rounded-lg p-4 hover:bg-slate-200">
              <p class="text-sm mb-2">Ateliers en 2024</p>
              <p class="text-2xl font-bold  mb-2"><%= @activities.count %></p>
              <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M6.0171 18.1357C5.15507 18.1357 4.44356 17.8347 3.88255 17.2326C3.32155 16.6306 3.02737 15.9259 3 15.1186C3 15.0091 3.00684 14.886 3.02052 14.7491C3.03421 14.6123 3.05473 14.4892 3.0821 14.3797L4.80616 7.48347C4.99772 6.75827 5.39124 6.16306 5.98673 5.69783C6.58166 5.23261 7.24857 5 7.98746 5H15.992C16.7309 5 17.3978 5.23261 17.9927 5.69783C18.5882 6.16306 18.9818 6.75827 19.1733 7.48347L20.8974 14.3797C20.9247 14.5028 20.9488 14.6293 20.9696 14.759C20.9899 14.8893 21 15.016 21 15.1391C21 15.9601 20.7094 16.6648 20.1281 17.2531C19.5463 17.8415 18.8244 18.1357 17.9624 18.1357C17.3877 18.1357 16.854 17.9852 16.3615 17.6841C15.8689 17.3831 15.4994 16.9726 15.2531 16.4527L14.6784 15.2623C14.61 15.1117 14.511 15.0058 14.3813 14.9445C14.251 14.8827 14.1038 14.8518 13.9396 14.8518H10.0399C9.87571 14.8518 9.72876 14.8827 9.59904 14.9445C9.46878 15.0058 9.36944 15.1117 9.30103 15.2623L8.72634 16.4527C8.48004 16.9726 8.1106 17.3831 7.61802 17.6841C7.12543 17.9852 6.59179 18.1357 6.0171 18.1357ZM6.07868 16.4937C6.31129 16.4937 6.53377 16.4322 6.74613 16.309C6.95795 16.1859 7.13227 15.9943 7.2691 15.7343L7.84378 14.5644C8.04903 14.1403 8.3465 13.8086 8.73619 13.5694C9.12643 13.3297 9.561 13.2098 10.0399 13.2098H13.9396C14.4048 13.2098 14.8358 13.333 15.2326 13.5792C15.6294 13.8255 15.9373 14.1539 16.1562 14.5644L16.7309 15.7343C16.8677 15.9943 17.0423 16.1859 17.2547 16.309C17.4665 16.4322 17.6887 16.4937 17.9213 16.4937C18.2771 16.4937 18.5986 16.3706 18.886 16.1243C19.1733 15.878 19.3238 15.5564 19.3375 15.1596V14.9642C19.3375 14.9029 19.3238 14.8381 19.2965 14.7697L17.5724 7.89396C17.4766 7.52452 17.2851 7.22349 16.9977 6.99088C16.7104 6.75827 16.3751 6.64196 15.992 6.64196H7.98746C7.60433 6.64196 7.26582 6.75827 6.9719 6.99088C6.67745 7.22349 6.48917 7.52452 6.40707 7.89396L4.68301 14.7697C4.65564 14.8518 4.64196 14.9749 4.64196 15.1391C4.64196 15.5359 4.79247 15.861 5.0935 16.1144C5.39453 16.3673 5.72292 16.4937 6.07868 16.4937ZM13.2212 10.7469C12.9886 10.7469 12.7938 10.668 12.6367 10.5104C12.479 10.3533 12.4002 10.1585 12.4002 9.92588C12.4002 9.69327 12.479 9.49815 12.6367 9.34052C12.7938 9.18344 12.9886 9.1049 13.2212 9.1049C13.4538 9.1049 13.6489 9.18344 13.8066 9.34052C13.9636 9.49815 14.0422 9.69327 14.0422 9.92588C14.0422 10.1585 13.9636 10.3533 13.8066 10.5104C13.6489 10.668 13.4538 10.7469 13.2212 10.7469ZM14.8632 9.1049C14.6306 9.1049 14.4357 9.02609 14.2786 8.86846C14.121 8.71138 14.0422 8.51653 14.0422 8.28392C14.0422 8.05131 14.121 7.85619 14.2786 7.69856C14.4357 7.54148 14.6306 7.46294 14.8632 7.46294C15.0958 7.46294 15.2906 7.54148 15.4477 7.69856C15.6053 7.85619 15.6841 8.05131 15.6841 8.28392C15.6841 8.51653 15.6053 8.71138 15.4477 8.86846C15.2906 9.02609 15.0958 9.1049 14.8632 9.1049ZM14.8632 12.3888C14.6306 12.3888 14.4357 12.31 14.2786 12.1524C14.121 11.9953 14.0422 11.8005 14.0422 11.5678C14.0422 11.3352 14.121 11.1401 14.2786 10.9825C14.4357 10.8254 14.6306 10.7469 14.8632 10.7469C15.0958 10.7469 15.2906 10.8254 15.4477 10.9825C15.6053 11.1401 15.6841 11.3352 15.6841 11.5678C15.6841 11.8005 15.6053 11.9953 15.4477 12.1524C15.2906 12.31 15.0958 12.3888 14.8632 12.3888ZM16.5051 10.7469C16.2725 10.7469 16.0777 10.668 15.9206 10.5104C15.763 10.3533 15.6841 10.1585 15.6841 9.92588C15.6841 9.69327 15.763 9.49815 15.9206 9.34052C16.0777 9.18344 16.2725 9.1049 16.5051 9.1049C16.7377 9.1049 16.9326 9.18344 17.0897 9.34052C17.2473 9.49815 17.3261 9.69327 17.3261 9.92588C17.3261 10.1585 17.2473 10.3533 17.0897 10.5104C16.9326 10.668 16.7377 10.7469 16.5051 10.7469ZM9.1163 11.9783C8.95211 11.9783 8.80844 11.9168 8.68529 11.7936C8.56214 11.6705 8.50057 11.5268 8.50057 11.3626V10.5416H7.67959C7.51539 10.5416 7.37172 10.48 7.24857 10.3569C7.12543 10.2338 7.06385 10.0901 7.06385 9.92588C7.06385 9.76169 7.12543 9.61802 7.24857 9.49487C7.37172 9.37172 7.51539 9.31015 7.67959 9.31015H8.50057V8.48917C8.50057 8.32497 8.56214 8.1813 8.68529 8.05815C8.80844 7.93501 8.95211 7.87343 9.1163 7.87343C9.2805 7.87343 9.42417 7.93501 9.54732 8.05815C9.67047 8.1813 9.73204 8.32497 9.73204 8.48917V9.31015H10.553C10.7172 9.31015 10.8609 9.37172 10.984 9.49487C11.1072 9.61802 11.1688 9.76169 11.1688 9.92588C11.1688 10.0901 11.1072 10.2338 10.984 10.3569C10.8609 10.48 10.7172 10.5416 10.553 10.5416H9.73204V11.3626C9.73204 11.5268 9.67047 11.6705 9.54732 11.7936C9.42417 11.9168 9.2805 11.9783 9.1163 11.9783Z" fill="#191919"/>
                </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
                  </svg>
              </div>
            </div>
          <% end %>
          <%= link_to admin_partners_path do %>
            <div class="border-cyan-900 border-solid border-2 bg-white square rounded-lg p-4 hover:bg-slate-200">
              <p class="text-sm mb-2">Voir les partenaires</p>
              <p class="text-2xl font-bold  mb-2"><%= @partners.count %></p>
              <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 5.1375C13.305 5.1375 14.3625 6.195 14.3625 7.5C14.3625 8.805 13.305 9.8625 12 9.8625C10.695 9.8625 9.6375 8.805 9.6375 7.5C9.6375 6.195 10.695 5.1375 12 5.1375ZM12 15.2625C15.3413 15.2625 18.8625 16.905 18.8625 17.625V18.8625H5.1375V17.625C5.1375 16.905 8.65875 15.2625 12 15.2625ZM12 3C9.51375 3 7.5 5.01375 7.5 7.5C7.5 9.98625 9.51375 12 12 12C14.4862 12 16.5 9.98625 16.5 7.5C16.5 5.01375 14.4862 3 12 3ZM12 13.125C8.99625 13.125 3 14.6325 3 17.625V21H21V17.625C21 14.6325 15.0037 13.125 12 13.125Z" fill="#191919"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
                </svg>
              </div>
            </div>
          <% end if can?(:create, Partner) %>
        </div>

        <% if can?(:create, Structure) %>
          <%= link_to structures_path do %>
            <div class="border-cyan-900 border-solid border-2 l bg-white w-68 h-32 rounded-lg p-4 hover:bg-slate-200 mt-[-20px]">
              <p class="text-sm mb-2">Structures</p>
              <p class="text-2xl font-bold  mb-2"><%= @structures.count %></p>
              <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M17 11V3H7V7H3V21H11V17H13V21H21V11H17ZM7 19H5V17H7V19ZM7 15H5V13H7V15ZM7 11H5V9H7V11ZM11 15H9V13H11V15ZM11 11H9V9H11V11ZM11 7H9V5H11V7ZM15 15H13V13H15V15ZM15 11H13V9H15V11ZM15 7H13V5H15V7ZM19 19H17V17H19V19ZM19 15H17V13H19V15Z" fill="#191919"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
                </svg>
              </div>
            </div>
          <% end %>
        <% end %>


        <div class="flex justify-between">
      <%= link_to "/seniors/" do %>
      <div class="border-cyan-900 border-solid border-2  bg-white square rounded-lg p-4 hover:bg-slate-200 mt-[-20px]">
        <p class="text-sm mb-2">Seniors en 2024</p>
        <p class="text-2xl font-bold  mb-2"><%= @seniors.count %></p>
        <div class="flex justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9.3 12.3C11.037 12.3 12.45 10.887 12.45 9.15C12.45 7.413 11.037 6 9.3 6C7.563 6 6.15 7.413 6.15 9.15C6.15 10.887 7.563 12.3 9.3 12.3ZM9.3 7.8C10.047 7.8 10.65 8.403 10.65 9.15C10.65 9.897 10.047 10.5 9.3 10.5C8.553 10.5 7.95 9.897 7.95 9.15C7.95 8.403 8.553 7.8 9.3 7.8ZM9.345 16.8H5.493C6.384 16.35 7.923 15.9 9.3 15.9C9.399 15.9 9.507 15.909 9.606 15.909C9.912 15.252 10.443 14.712 11.082 14.28C10.425 14.163 9.804 14.1 9.3 14.1C7.194 14.1 3 15.153 3 17.25V18.6H9.3V17.25C9.3 17.097 9.318 16.944 9.345 16.8ZM16.05 14.55C14.394 14.55 11.1 15.459 11.1 17.25V18.6H21V17.25C21 15.459 17.706 14.55 16.05 14.55ZM17.139 12.912C17.823 12.525 18.3 11.796 18.3 10.95C18.3 9.708 17.292 8.7 16.05 8.7C14.808 8.7 13.8 9.708 13.8 10.95C13.8 11.796 14.277 12.525 14.961 12.912C15.285 13.092 15.654 13.2 16.05 13.2C16.446 13.2 16.815 13.092 17.139 12.912Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
            </svg>


        </div>


      </div>
      <% end %>

            <div class="border-cyan-900 border-solid border-2 mb-4 bg-white square rounded-lg p-4 hover:bg-slate-200 mt-[-20px]">
        <p class="text-sm mb-2">Nombre de participations</p>
        <p class="text-2xl font-bold  mb-2"><%= @participations.count %></p>
        <div class="flex justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M4.5 5.625H0V18H4.5V5.625Z" fill="#191919"/>
              <path d="M18 10.125H13.5V18H18V10.125Z" fill="#191919"/>
              <path d="M11.25 0H6.75V18H11.25V0Z" fill="#191919"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
            </svg>

        </div>


      </div>

    </div>
  </section>


<% unless current_user.animator?  %>
    <%= link_to export_data_path(format: :csv), class: "color-blue flex p-4 rounded-lg justify-between items-center text-base text-white" do %>
      <p>Exporter les données</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <mask id="mask0_1390_2599" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9"/>
        </mask>
        <g mask="url(#mask0_1390_2599)">
          <path d="M4.8 19.4C4.305 19.4 3.88125 19.2238 3.52875 18.8713C3.17625 18.5188 3 18.095 3 17.6V6.8C3 6.305 3.17625 5.88125 3.52875 5.52875C3.88125 5.17625 4.305 5 4.8 5H9.3V6.8H4.8V17.6H19.2V6.8H14.7V5H19.2C19.695 5 20.1187 5.17625  5.52875C20.8237 5.88125 21 6.305 21 6.8V17.6C21 18.095 20.8237 18.5188 20.4713 18.8713C20.1187 19.2238 19.695 19.4 19.2 19.4H4.8ZM12 15.26L7.5 10.76L8.76 9.5L11.1 11.84V5H12.9V11.84L15.24 9.5L16.5 10.76L12 15.26Z" fill="white"/>
        </g>
      </svg>
    <% end %>
  <% end %>
<% end %>