<div id="<%= dom_id activity %>">
  <p>
    <strong>Nom:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activity.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activity.description %>
  </p>

  <p>
    <strong>Durée:</strong>
    <%= activity.duration %>
  </p>

  <p>
    <strong>Jeu:</strong>
    <%= activity.game_id %>
  </p>

  <p>
    <strong>Appareil:</strong>
    <%= activity.device_id %>
  </p>

  <p>
    <strong>Otherdevice:</strong>
    <%= activity.otherDevice %>
  </p>

</div>
