<div id="js-activity-form">
  <%= simple_form_for(activity) do |f| %>

    <%= f.input :name, label: "Nom", placeholder: "Nom", input_html: { class:"bg-blue-800 w-64 flex p-4 rounded-none justify-between items-center text-base "}%>
    <%= f.input :date, label: "Date", placeholder: "Date", as: :date,  html5: true,  order:[:day,:month,:year], wrapper_html: { class: "grid grid-cols-1 gap-y-4 w-64 text-black" } %>
    <%= f.input :description, label: "Description", placeholder: "Description" %>
    <%= f.input :duration, label: "Durée", placeholder: "Durée", input_html: { class:"bg-blue-800 w-64 flex p-4 rounded-none justify-between items-center text-base "} %>
    <%= f.association :game, label: "Jeu"%>
    <%= link_to "/games/new" do %>
    <%= content_tag(:div, class: "bg-white hover:bg-slate-200 border-cyan-900 border-solid border-2 flex w-64 p-4 rounded-lg justify-between items-center text-base  mt-6 mb-6") do %>
    <p>Ajouter un jeu</p>
      <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
        <%= content_tag(:path, "",class:"fill-cyan-900", d: "M11.1 16.5H12.9V12.9H16.5V11.1H12.9V7.5H11.1V11.1H7.5V12.9H11.1V16.5ZM12 21C10.755 21 9.585 20.7636 8.49 20.2908C7.395 19.8186 6.4425 19.1775 5.6325 18.3675C4.8225 17.5575 4.1814 16.605 3.7092 15.51C3.2364 14.415 3 13.245 3 12C3 10.755 3.2364 9.585 3.7092 8.49C4.1814 7.395 4.8225 6.4425 5.6325 5.6325C6.4425 4.8225 7.395 4.1811 8.49 3.7083C9.585 3.2361 10.755 3 12 3C13.245 3 14.415 3.2361 15.51 3.7083C16.605 4.1811 17.5575 4.8225 18.3675 5.6325C19.1775 6.4425 19.8186 7.395 20.2908 8.49C20.7636 9.585 21 10.755 21 12C21 13.245 20.7636 14.415 20.2908 15.51C19.8186 16.605 19.1775 17.5575 18.3675 18.3675C17.5575 19.1775 16.605 19.8186 15.51 20.2908C14.415 20.7636 13.245 21 12 21ZM12 19.2C14.01 19.2 15.7125 18.5025 17.1075 17.1075C18.5025 15.7125 19.2 14.01 19.2 12C19.2 9.99 18.5025 8.2875 17.1075 6.8925C15.7125 5.4975 14.01 4.8 12 4.8C9.99 4.8 8.2875 5.4975 6.8925 6.8925C5.4975 8.2875 4.8 9.99 4.8 12C4.8 14.01 5.4975 15.7125 6.8925 17.1075C8.2875 18.5025 9.99 19.2 12 19.2Z", fill: "white") %>
      <% end %>
    <% end %>
  <% end %>

    <%= f.association :device, label: "Appareil"%>

  <%= link_to "/devices/new" do %>
    <%= content_tag(:div, class: "bg-white hover:bg-slate-200 border-cyan-900 border-solid border-2 flex w-64 p-4 rounded-lg justify-between items-center text-base  mt-6 mb-6") do %>
    <p>Ajouter un appareil</p>
      <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
        <%= content_tag(:path, "",class:"fill-cyan-900" , d: "M11.1 16.5H12.9V12.9H16.5V11.1H12.9V7.5H11.1V11.1H7.5V12.9H11.1V16.5ZM12 21C10.755 21 9.585 20.7636 8.49 20.2908C7.395 19.8186 6.4425 19.1775 5.6325 18.3675C4.8225 17.5575 4.1814 16.605 3.7092 15.51C3.2364 14.415 3 13.245 3 12C3 10.755 3.2364 9.585 3.7092 8.49C4.1814 7.395 4.8225 6.4425 5.6325 5.6325C6.4425 4.8225 7.395 4.1811 8.49 3.7083C9.585 3.2361 10.755 3 12 3C13.245 3 14.415 3.2361 15.51 3.7083C16.605 4.1811 17.5575 4.8225 18.3675 5.6325C19.1775 6.4425 19.8186 7.395 20.2908 8.49C20.7636 9.585 21 10.755 21 12C21 13.245 20.7636 14.415 20.2908 15.51C19.8186 16.605 19.1775 17.5575 18.3675 18.3675C17.5575 19.1775 16.605 19.8186 15.51 20.2908C14.415 20.7636 13.245 21 12 21ZM12 19.2C14.01 19.2 15.7125 18.5025 17.1075 17.1075C18.5025 15.7125 19.2 14.01 19.2 12C19.2 9.99 18.5025 8.2875 17.1075 6.8925C15.7125 5.4975 14.01 4.8 12 4.8C9.99 4.8 8.2875 5.4975 6.8925 6.8925C5.4975 8.2875 4.8 9.99 4.8 12C4.8 14.01 5.4975 15.7125 6.8925 17.1075C8.2875 18.5025 9.99 19.2 12 19.2Z", fill: "white") %>
      <% end %>
    <% end %>
  <% end %>

    <%= f.association :structure, label: "Structure", collection: Structure.accessible_by(current_ability) %>
    

    <%= f.input :senior_ids, label: "Seniors", collection: Senior.all.map { |senior| [senior.pseudo, senior.id, { data: { structure: senior.structure_id } }] }, as: :check_boxes, input_html: { multiple: true, class:"border-slate-500 bg-tranparent "}  %>
    <%= f.input :otherDevice, label: "Autre appareil", placeholder: "Autre appareil" %>
    <div class="flex justify-between">
      <%= f.button :submit, 'Confirmer', button_html: { class:'color-blue flex p-4 rounded-lg justify-center items-center text-base  mb-32 h-12 w-50' } %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.1 16.5H12.9V12.9H16.5V11.1H12.9V7.5H11.1V11.1H7.5V12.9H11.1V16.5ZM12 21C10.755 21 9.585 20.7636 8.49 20.2908C7.395 19.8186 6.4425 19.1775 5.6325 18.3675C4.8225 17.5575 4.1814 16.605 3.7092 15.51C3.2364 14.415 3 13.245 3 12C3 10.755 3.2364 9.585 3.7092 8.49C4.1814 7.395 4.8225 6.4425 5.6325 5.6325C6.4425 4.8225 7.395 4.1811 8.49 3.7083C9.585 3.2361 10.755 3 12 3C13.245 3 14.415 3.2361 15.51 3.7083C16.605 4.1811 17.5575 4.8225 18.3675 5.6325C19.1775 6.4425 19.8186 7.395 20.2908 8.49C20.7636 9.585 21 10.755 21 12C21 13.245 20.7636 14.415 20.2908 15.51C19.8186 16.605 19.1775 17.5575 18.3675 18.3675C17.5575 19.1775 16.605 19.8186 15.51 20.2908C14.415 20.7636 13.245 21 12 21ZM12 19.2C14.01 19.2 15.7125 18.5025 17.1075 17.1075C18.5025 15.7125 19.2 14.01 19.2 12C19.2 9.99 18.5025 8.2875 17.1075 6.8925C15.7125 5.4975 14.01 4.8 12 4.8C9.99 4.8 8.2875 5.4975 6.8925 6.8925C5.4975 8.2875 4.8 9.99 4.8 12C4.8 14.01 5.4975 15.7125 6.8925 17.1075C8.2875 18.5025 9.99 19.2 12 19.2Z" fill="white"/>
        </svg>
    </div>


  <% end %>
</div>
