<div class="flex flex-col w-68  ml-auto mr-auto gap-5  z-10 relative  ">


  <%= link_to :back do %>
      <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
        <%= content_tag(:path, "", d: "M12 3L13.5862 4.58625L7.30875 10.875H21V13.125H7.30875L13.5862 19.4137L12 21L3 12L12 3Z", fill: "#191919") %>
      <% end %>
  <% end %>
  <h1 class="text-3xl font-roboto font-bold">Modifier l'atelier</h1>

<%= render "form", activity: @activity %>

<%= button_to @activity, method: :delete, class: "w-64 bg-orange-500 hover:bg-orange-900 flex p-4 rounded-lg justify-between items-center text-base text-white relative mb-32" do %>
  <span>Supprimer l'atelier</span>
      <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
        <%= content_tag(:path, "", d: "M7 21C6.45 21 5.97917 20.8042 5.5875 20.4125C5.19583 20.0208 5 19.55 5 19V6H4V4H9V3H15V4H20V6H19V19C19 19.55 18.8042 20.0208 18.4125 20.4125C18.0208 20.8042 17.55 21 17 21H7ZM17 6H7V19H17V6ZM9 17H11V8H9V17ZM13 17H15V8H13V17Z", fill: "white") %>
      <% end %>
<% end %>
