<div id="<%= dom_id senior %>">
  <p>
    <strong>Pseudo:</strong>
    <%= senior.pseudo %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= senior.age %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= senior.gender %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= senior.code %>
  </p>

  <p>
    <strong>Structure:</strong>
    <%= senior.structure_id %>
  </p>

</div>
