<p style="color: green"><%= notice %></p>

<div class="flex flex-col w-72  ml-auto mr-auto gap-5 mt-16 z-10 relative  ">



    <%= link_to seniors_path do %>
        <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
          <%= content_tag(:path, "", d: "M12 3L13.5862 4.58625L7.30875 10.875H21V13.125H7.30875L13.5862 19.4137L12 21L3 12L12 3Z", fill: "#191919") %>
        <% end %>
    <% end %>


  <div class="flex items-center justify-between">


    <h1 class="text-3xl font-gobold"><%= @senior.pseudo %></h1>

      <div>

  <%= link_to edit_senior_path(@senior) do %>
    <%= content_tag(:div, class: "w-14 h-14 bg-white rounded-lg p-4 shadow-2xl hover:bg-slate-200") do %>
      <%= content_tag(:svg, viewBox: "0 0 24 24", fill: "none", xmlns: "http://www.w3.org/2000/svg", width: "24", height: "24") do %>
        <%= content_tag(:path, "", d: "M5 19H6.425L16.2 9.225L14.775 7.8L5 17.575V19ZM3 21V16.75L16.2 3.575C16.4 3.39167 16.6208 3.25 16.8625 3.15C17.1042 3.05 17.3583 3 17.625 3C17.8917 3 18.15 3.05 18.4 3.15C18.65 3.25 18.8667 3.4 19.05 3.6L20.425 5C20.625 5.18333 20.7708 5.4 20.8625 5.65C20.9542 5.9 21 6.15 21 6.4C21 6.66667 20.9542 6.92083 20.8625 7.1625C20.7708 7.40417 20.625 7.625 20.425 7.825L7.25 21H3ZM15.475 8.525L14.775 7.8L16.2 9.225L15.475 8.525Z", fill: "#01385E") %>
      <% end %>
    <% end %>
  <% end %>
  </div>

  </div>





  <div>



    <div class="flex justify-between">

      <div class="mb-4 shadow-2xl bg-white w-32 h-32 rounded-lg p-4 hover:bg-slate-200">
        <p class="text-base mb-2">Âge</p>
        <p class="text-2xl font-bold  mb-2"><%= @senior.age %></p>
        <div class="flex justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask0_649_956" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_649_956)">
                <path d="M4.9 21C4.645 21 4.43125 20.9137 4.25875 20.7412C4.08625 20.5687 4 20.355 4 20.1V15.6C4 15.105 4.17625 14.6813 4.52875 14.3288C4.88125 13.9763 5.305 13.8 5.8 13.8V10.2C5.8 9.705 5.97625 9.28125 6.32875 8.92875C6.68125 8.57625 7.105 8.4 7.6 8.4H11.2V7.095C10.93 6.915 10.7125 6.6975 10.5475 6.4425C10.3825 6.1875 10.3 5.88 10.3 5.52C10.3 5.295 10.345 5.07375 10.435 4.85625C10.525 4.63875 10.66 4.44 10.84 4.26L12.1 3L13.36 4.26C13.54 4.44 13.675 4.63875 13.765 4.85625C13.855 5.07375 13.9 5.295 13.9 5.52C13.9 5.88 13.8175 6.1875 13.6525 6.4425C13.4875 6.6975 13.27 6.915 13 7.095V8.4H16.6C17.095 8.4 17.5188 8.57625 17.8713 8.92875C18.2238 9.28125 18.4 9.705 18.4 10.2V13.8C18.895 13.8 19.3188 13.9763 19.6713 14.3288C20.0238 14.6813 20.2 15.105 20.2 15.6V20.1C20.2 20.355 20.1138 20.5687 19.9412 20.7412C19.7688 20.9137 19.555 21 19.3 21H4.9ZM7.6 13.8H16.6V10.2H7.6V13.8ZM5.8 19.2H18.4V15.6H5.8V19.2Z" fill="#191919"/>
                </g>
            </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
          </svg>

        </div>


      </div>

      <div class="mb-4 shadow-2xl bg-white w-32 h-32 rounded-lg p-4 hover:bg-slate-200">
        <p class="text-base mb-2">Genre</p>
        <p class="text-2xl font-bold  mb-2"><%= @senior.gender %></p>
        <div class="flex justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask0_649_1022" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_649_1022)">
                <path d="M11.7037 14.4399C12.4946 14.4399 13.1696 14.1604 13.7287 13.6013C14.2878 13.0422 14.5673 12.3672 14.5673 11.5763C14.5673 10.7854 14.2878 10.1104 13.7287 9.55126C13.1696 8.99217 12.4946 8.71262 11.7037 8.71262C10.9128 8.71262 10.2378 8.99217 9.6787 9.55126C9.11961 10.1104 8.84007 10.7854 8.84007 11.5763C8.84007 12.3672 9.11961 13.0422 9.6787 13.6013C10.2378 14.1604 10.9128 14.4399 11.7037 14.4399ZM10.8855 20.9854V19.349H9.24916V17.7126H10.8855V15.9944C9.82188 15.8035 8.94234 15.2922 8.24688 14.4604C7.55143 13.6285 7.2037 12.6672 7.2037 11.5763C7.2037 11.1263 7.26848 10.6831 7.39802 10.2467C7.52757 9.81035 7.72188 9.40808 7.98098 9.0399L7.44916 8.50808L6.3037 9.65353L5.15825 8.50808L6.3037 7.34217L4.74916 5.78762V7.89444H3.11279V2.98535H8.02188V4.62172H5.91507L7.46961 6.17626L8.63552 5.03081L9.78098 6.17626L8.63552 7.34217L9.16734 7.87399C9.53552 7.60126 9.93779 7.40012 10.3742 7.27058C10.8105 7.14103 11.2537 7.07626 11.7037 7.07626C12.1537 7.07626 12.5969 7.14103 13.0332 7.27058C13.4696 7.40012 13.8719 7.60126 14.2401 7.87399L17.4923 4.62172H15.3855V2.98535H20.2946V7.89444H18.6582V5.78762L15.406 9.01944C15.6651 9.40126 15.8628 9.80694 15.9992 10.2365C16.1355 10.666 16.2037 11.1126 16.2037 11.5763C16.2037 12.6672 15.856 13.6285 15.1605 14.4604C14.4651 15.2922 13.5855 15.8035 12.5219 15.9944V17.7126H14.1582V19.349H12.5219V20.9854H10.8855Z" fill="#191919"/>
                </g>
            </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
          </svg>

        </div>


      </div>

    </div>



    <div class="mb-4 shadow-2xl bg-white w-68 h-32 rounded-lg p-4 hover:bg-slate-200" >
        <p class="text-base mb-2">Ateliers</p>
        <p class="text-2xl font-bold  mb-2">A INTEGRER</p>
        <div class="flex justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M10.8571 9.23571V8.87143C10.2286 8.68571 9.71429 8.33214 9.31429 7.81071C8.91429 7.28929 8.71429 6.68571 8.71429 6C8.71429 5.17143 9.00714 4.46429 9.59286 3.87857C10.1786 3.29286 10.8857 3 11.7143 3C12.5429 3 13.25 3.29286 13.8357 3.87857C14.4214 4.46429 14.7143 5.17143 14.7143 6C14.7143 6.68571 14.5143 7.28929 14.1143 7.81071C13.7143 8.33214 13.2 8.68571 12.5714 8.87143V9.23571L18.5714 12.6857C18.8429 12.8429 19.0536 13.0536 19.2036 13.3179C19.3536 13.5821 19.4286 13.8714 19.4286 14.1857V15.8143C19.4286 16.1286 19.3536 16.4179 19.2036 16.6821C19.0536 16.9464 18.8429 17.1571 18.5714 17.3143L12.5714 20.7643C12.3 20.9214 12.0143 21 11.7143 21C11.4143 21 11.1286 20.9214 10.8571 20.7643L4.85714 17.3143C4.58571 17.1571 4.375 16.9464 4.225 16.6821C4.075 16.4179 4 16.1286 4 15.8143V14.1857C4 13.8714 4.075 13.5821 4.225 13.3179C4.375 13.0536 4.58571 12.8429 4.85714 12.6857L10.8571 9.23571ZM10.8571 17.3357L5.71429 14.3786V15.8143L11.7143 19.2857L17.7143 15.8143V14.3786L12.5714 17.3357C12.3 17.4929 12.0143 17.5714 11.7143 17.5714C11.4143 17.5714 11.1286 17.4929 10.8571 17.3357ZM10.8571 14.1429V11.2071L7.25714 13.2857L11.7143 15.8571L16.1714 13.2857L12.5714 11.2071V14.1429H10.8571ZM11.7143 7.28571C12.0714 7.28571 12.375 7.16071 12.625 6.91071C12.875 6.66071 13 6.35714 13 6C13 5.64286 12.875 5.33929 12.625 5.08929C12.375 4.83929 12.0714 4.71429 11.7143 4.71429C11.3571 4.71429 11.0536 4.83929 10.8036 5.08929C10.5536 5.33929 10.4286 5.64286 10.4286 6C10.4286 6.35714 10.5536 6.66071 10.8036 6.91071C11.0536 7.16071 11.3571 7.28571 11.7143 7.28571Z" fill="#191919"/>
            </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
          </svg>

        </div>


      </div>

      <div class="mb-4 shadow-2xl bg-white w-68 h-32 rounded-lg p-4 hover:bg-slate-200" >
        <p class="text-base mb-2">Badges</p>
        <p class="text-2xl font-bold  mb-2">A INTEGRER</p>
        <div class="flex justify-between">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask0_649_278" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                <rect width="24" height="24" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_649_278)">
                <path d="M9.86429 13.0286L10.6143 10.5857L8.64286 9H11.0857L11.8571 6.6L12.6286 9H15.0714L13.0786 10.5857L13.8286 13.0286L11.8571 11.5071L9.86429 13.0286ZM6.71429 21V14.3786C6.17143 13.7786 5.75 13.0929 5.45 12.3214C5.15 11.55 5 10.7286 5 9.85714C5 7.94286 5.66429 6.32143 6.99286 4.99286C8.32143 3.66429 9.94286 3 11.8571 3C13.7714 3 15.3929 3.66429 16.7214 4.99286C18.05 6.32143 18.7143 7.94286 18.7143 9.85714C18.7143 10.7286 18.5643 11.55 18.2643 12.3214C17.9643 13.0929 17.5429 13.7786 17 14.3786V21L11.8571 19.2857L6.71429 21ZM11.8571 15C13.2857 15 14.5 14.5 15.5 13.5C16.5 12.5 17 11.2857 17 9.85714C17 8.42857 16.5 7.21429 15.5 6.21429C14.5 5.21429 13.2857 4.71429 11.8571 4.71429C10.4286 4.71429 9.21429 5.21429 8.21429 6.21429C7.21429 7.21429 6.71429 8.42857 6.71429 9.85714C6.71429 11.2857 7.21429 12.5 8.21429 13.5C9.21429 14.5 10.4286 15 11.8571 15ZM8.42857 18.45L11.8571 17.5714L15.2857 18.45V15.7929C14.7857 16.0786 14.2464 16.3036 13.6679 16.4679C13.0893 16.6321 12.4857 16.7143 11.8571 16.7143C11.2286 16.7143 10.625 16.6321 10.0464 16.4679C9.46786 16.3036 8.92857 16.0786 8.42857 15.7929V18.45Z" fill="#191919"/>
                </g>
            </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 3L10.4138 4.58625L16.6912 10.875H3V13.125H16.6912L10.4138 19.4137L12 21L21 12L12 3Z" fill="#191919"/>
          </svg>

        </div>


      </div>

    <div class="actions bg-blue-800 hover:bg-blue-900 flex p-4 rounded-lg justify-between items-center text-base text-white">
        <p>Télécharger le PDF du profil</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <mask id="mask0_935_1136" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
            <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_935_1136)">
          <path d="M15.6 8.5V5.8H8.4V8.5H6.6V4H17.4V8.5H15.6ZM17.4 12.55C17.655 12.55 17.8687 12.4638 18.0412 12.2913C18.2137 12.1188 18.3 11.905 18.3 11.65C18.3 11.395 18.2137 11.1813 18.0412 11.0087C17.8687 10.8363 17.655 10.75 17.4 10.75C17.145 10.75 16.9312 10.8363 16.7587 11.0087C16.5863 11.1813 16.5 11.395 16.5 11.65C16.5 11.905 16.5863 12.1188 16.7587 12.2913C16.9312 12.4638 17.145 12.55 17.4 12.55ZM15.6 18.4V14.8H8.4V18.4H15.6ZM17.4 20.2H6.6V16.6H3V11.2C3 10.435 3.2625 9.79375 3.7875 9.27625C4.3125 8.75875 4.95 8.5 5.7 8.5H18.3C19.065 8.5 19.7063 8.75875 20.2238 9.27625C20.7413 9.79375 21 10.435 21 11.2V16.6H17.4V20.2ZM19.2 14.8V11.2C19.2 10.945 19.1137 10.7313 18.9412 10.5588C18.7687 10.3863 18.555 10.3 18.3 10.3H5.7C5.445 10.3 5.23125 10.3863 5.05875 10.5588C4.88625 10.7313 4.8 10.945 4.8 11.2V14.8H6.6V13H17.4V14.8H19.2Z" fill="white"/>
          </g>
        </svg>
  </div>



<div>


  <%= button_to "Destroy this senior", @senior, method: :delete %>
</div>

</div>
