

<!DOCTYPE html>
<html class="bg-amber-50 overflow-x-hidden ">
  <head>
    <title>Silvergeek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <%= javascript_include_tag "application" %>
    <div class="flex flex-col w-72 ml-auto mr-auto gap-5 mt-16 z-10 relative">
       <%= yield%>
       <%= render 'nav' %>
    </div>

  </body>
</html>
