<!DOCTYPE html>
<html class="bg-amber-50 overflow-x-hidden ">
  <head>
    <title>Silvergeek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="rounded-full opacity-40 w-96 h-96 blur-3xl bg-amber-200 absolute top-[-50px] left-[-200px] "></div>
    <div class="rounded-full opacity-40 w-96 h-96 blur-3xl bg-orange-500 absolute bottom-[-50px] right-[-200px]"></div>
    <%= yield %>
  </body>
</html>
