

<!DOCTYPE html>
<html class="bg-amber-50 overflow-x-hidden ">
  <head>
    <title>Silver Geek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <div class="flex flex-col w-72 ml-auto mr-auto gap-5 mt-8 z-10 relative z-0">
       <%= yield%>
       <% if user_signed_in? %>    
        <%= render 'nav' %>
      <% end %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
